<template>
    <div class="container">
        <nav class="nav justify-content-between">
            <a v-if="configured" v-on:click="back"
                   v-bind:disabled="saving"
                   ref="buttonBack"
                   type="button"
                   class="btn btn-outline-light">
                   <i class="fas fa-arrow-left text-secondary"></i>
            </a>
            <a v-if="configured"
                    v-bind:disabled="submitting"
                    id="buttonSave"
                    class="btn btn-outline-light"
                    type="submit">
                    <i class="fas fa-check text-secondary"></i>
            </a>
        </nav>
        <h3 class="text-center col"><translate>Settings</translate></h3>
        <form v-on:submit.prevent="save()">
            <div class="form-group">
                <label class="control-label"
                       for="language"><translate>Language</translate></label>
                <select class="form-control" name="language" v-model="$language.current">
                  <option v-for="(language, key) in $language.available" :value="key">{{ language }}</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label"
                       for="inputDB"><translate>Database</translate></label>
                <input v-model="db"
                       v-bind:disabled="submitting || configured"
                       id="inputDB"
                       class="form-control"
                       type="text"
                       required=""
                       placeholder="Database"></input>
            </div>
            <div class="form-group">
                <label class="control-label"
                       for="inputUser"><translate>User Name</translate></label>
                <input v-model="user"
                       v-bind:disabled="submitting || configured"
                       id="inputUser"
                       class="form-control"
                       type="text"
                       required=""
                       placeholder="User Name"></input>
            </div>
            <div class="form-group">
                <label for="key"><translate>Key</translate></label>
                <pre id="key" class="form-control-static">{{ key_small }}</pre>
            </div>
            <button v-if="!configured"
                    v-bind:disabled="submitting"
                    class="btn btn-lg btn-primary btn-block"
                    type="submit"><translate>Register</translate></button>
            <button v-if="configured"
                    v-bind:disabled="submitting"
                    v-on:click="reset()"
                    class="btn btn-danger btn-block"
                    type="button"><translate>Reset</translate></button>
            </button>
        </form>
    </div>
</template>

<script>
var storage = require('./storage.js');
var Vue = require('vue');
var utils = require('./utils.js');

module.exports = {
    data: function() {
        var settings = storage.settings;
        return {
            db: settings.db,
            user: settings.user,
            key: settings.key,
            submitting: false
        };
    },
    computed: {
        configured: function() {
            return Boolean(this.key);
        },
        key_small: function() {
            if (this.key) {
                return this.key.slice(0, 8) + '...';
            }
        }
    },
    methods: {
        back: function() {
            this.$router.push({
                name: 'home',
            });
        },
        save: function() {
            storage.language = this.$language.current;
            if (!this.configured) {
                this.register();
            } else {
                this.$router.push({ name: 'home' });
            }
        },
        register: function() {
            var db = this.db,
                user = this.user,
                url = '/' + db + '/user/application/',
                data = {
                    user: user,
                    application: 'shipment_in'
                };
            this.$http.post(url, data).then(function(response) {
                var vm = this;
                return response.json().then(function(key) {
                    vm.key = key;
                    storage.settings = {
                        db: db,
                        user: user,
                        key: key
                    };
                    require('./http.js')();
                    vm.submitting = false;
                    vm.$router.push({ name: 'key' });
                });
            }, function(response) {
                var vm = this;
                utils.error(response).then(function() {
                    vm.submitting = false;
                });
            });
        },
        reset: function() {
            this.submitting = true;
            var url = '/' + this.db + '/user/application/',
                data = {
                    user: this.user,
                    key: this.key,
                    application: 'stock'
                };
            this.$http.delete(url, { body: data }).then(function(response) {
                storage.clear();
                var data = this.$options.data()
                for (var key in data) {
                    this[key] = data[key];
                }
                require('./http.js')();
                this.submitting = false;
            }, function(response) {
                var vm = this;
                utils.error(response).then(function() {
                    vm.submitting = false;
                });
            });
        },
    }
};
</script>
