<template>
    <div class="container" :style="{opacity: container_opacity}">
        <nav class="nav justify-content-between">
            <a v-on:click="back"
                   v-bind:disabled="saving"
                   ref="buttonBack"
                   type="button"
                   class="btn btn-outline-light">
                <i class="fas fa-arrow-left text-secondary"></i>
            </a>
            <a v-on:click="save"
                   v-bind:disabled="saving"
                   ref="buttonCreate"
                   type="button"
                   class="btn btn-outline-light">
                <i class="fas fa-check text-secondary"></i>
            </a>
        </nav>
        <h3 class="text-center col"><translate>Shipment</translate></h3>

        <div class="input-group">
            <div class="form-group col-md-4">
                <span class="form-control-static">
                    <translate>Number:</translate> {{ number }}
                </span></br>
                <span class="form-control-static">
                    <translate>Order number/CMR:</translate>
                    <input id="external_picking" type="text" class="form-control"
                    v-model="external_picking">
                </span>
            </div>
        </div>

        <div class="input-group">
            <div class="form-group col-md-4">
                <span class="form-control-static">
                    <table class="table table-sm">
                        <tr class="d-flex">
                            <th class="col-12 text-center"><translate>Product</translate></th>
                        </tr>
                        <tr class="d-flex" v-for="move in moves">
                            <td class="col-1 font-weight-bold">{{ move.quantity }}</td>
                            <td class="col-10 text-center">{{ move.product_name }}</td>
                            <td v-if="!done" class="col-1">
                                <i class="fa fa-trash-alt"
                                    @click="removeProduct(move.product_id)"/>
                                </td>
                        </tr>
                    </table>
                </span>
            </div>
        </div>

        <div v-if="!done">
            <button v-on:click="show_add_lines = true"
                   type="button"
                   class="btn btn-primary col-md-4 pl-0 pr-0 mb-3"
                   :class="(show_add_lines) ? 'd-none':'d-block'">
                <translate>Add lines</translate>
            </button>
            <div :class="(show_add_lines) ? 'd-block':'d-none'">
                <div class="col-md-4 col-md-offset-4 mt-3">
                    <h4 class="text-center"><translate>Add lines</translate></h4>
                </div>
                <div class="input-group">
                    <div class="form-group col-md-4">
                        <span class="form-control-static">
                            <translate>Quantity:</translate>
                            <input id="quantity" type="number" class="form-control"
                                v-model.number="quantity" min="1">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" v-model="search"
                                    v-bind:placeholder="placeholder"/>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-sm btn-outline-dark" @click="clear()">
                                        <i class="fas fa-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="list-group">
                        <div v-for="product in products" class="list-group-item"
                                @click="addProduct(product.id, product.name)">
                            <p class="list-group-item-heading">
                                {{ product.name }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="input-group">
            <div class="form-group col-md-4">
                <span class="form-control-static">
                    <translate>Notes:</translate>
                    <input id="notas" type="text" class="form-control"
                    v-model="comment">
                </span>
            </div>
        </div>

        <div v-if="!done" class="col-md-4 mt-0 pl-0 pr-0">
            <button v-on:click="receive"
                   v-bind:disabled="saving"
                   ref="buttonCreate"
                   type="button"
                   class="btn btn-primary col">
                <i class="fas fa-check"></i>
                <translate>Continue</translate>
            </button>
        </div>

        <div id="spinner" :style="{'position':'absolute', 'top':'50%', 'left':'50%', display: display_spinner}">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div class="input-group" v-if="done">
            <div class="form-group col-md-4">
                <span class="form-control-static">
                    <label for="carrier_email">
                        <translate>Carrier email:</translate>
                    </label>
                    <div class="input-group">
                        <input type="text" class="form-control" v-model="carrier_email"/>
                    </div>
                </span>
            </div>
        </div>

        <div class="col-md-4 pl-0 pr-0 mt-5" :class="(done) ? 'd-block':'d-none'">
            <div class="input-group" :id="attachment.id" v-for="attachment in attachments">
                <div class="form-control" readonly>
                    <a :download="attachment.name" :href="`data:image/png;base64,${attachment.data.base64}`" target="blank">{{attachment.name}}</a>
                </div>
                <div class="input-group-append">
                    <button v-on:click="remove_file" type="button" class="btn btn-sm btn-outline-dark">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
             </div>
         </div>
        <div class="col-md-4 pl-0 pr-0">
            <div :style="{display: email_ok}" class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <translate>Email sent</translate>
            </div>
        </div>
         <form v-if="done" ref="form_data" enctype="multipart/form-data" class="mt-3 mb-5">
            <div class="col-md-4 pl-0">
                <input ref="upload_file" type="file" name="file">
                <button v-on:click="upload_file" type="submit" class="btn btn-primary col">
                    <translate>Upload file</translate>
                </button>
            </div>
        </form>
        <div class="col-md-4 pl-0 pr-0">
            <button v-if='done' v-on:click="send_mail" class="btn btn-primary col mb-1" :disabled="btn_mail_disabled">
                <translate>Send shipment note</translate>
            </button>
        </div>
    </div>
</template>

<script>
var Vue = require('vue');
var utils = require('./utils.js');

module.exports = {
    data: function() {
        return {
            placeholder: this.$gettext("Search product"),
            id: 0,
            products: [],
            moves: [],
            number: '',
            comment: '',
            effective_date: '',
            search: '',
            quantity: null,
            external_picking: '',
            saving: false,
            done: false,
            carrier_email: '',
            email_ok: 'none',
            btn_mail_disabled: false,
            attachments: [],
            display_spinner: 'none',
            container_opacity: 1,
            show_add_lines: false
        };
    },
    watch: {
        search() {
            if (!this.search) {
                this.products = [];
                return
            }
            var vm = this;
            this.$http.get('flask_shipment_in_app/products', {
                params: {query: this.search},
            }).then(function(request) {
                request.json().then(function(results){
                    vm.products = results;
                });
            });
        },
    },
    methods: {
        back() {
            this.$router.push({
                name: 'home',
            });
        },
        clear() {
            this.search = '';
        },
        addProduct(id, name) {
            var quantity = parseFloat(this.quantity)
            if (this.quantity == null || isNaN(quantity)){
                alert(this.$gettext("You should add the quantity first"));
                return;
            }
            var found = false;
            for(var i=0; i<this.moves.length; i++) {
                move = this.moves[i]
                if (move.product_id == id) {
                    move.quantity += this.quantity;
                    found = true
                    break;
                }
            }
            if (!found) {
                this.moves.push({
                    quantity: this.quantity,
                    product_name: name,
                    product_id: id,
                });
            }
            this.search = '';
            this.quantity = null;
            this.products = []
            this.show_add_lines = false;
        },
        removeProduct(id) {
            this.moves = this.moves.filter(m => m.product_id != id)
            if(this.moves.length == 0){
                this.show_add_lines = true
            }
        },
        save: function() {
            if (this.saving) {
                return Promise.reject();
            }
            this.saving = true;
            var url = 'flask_shipment_in_app/shipment/' + this.id + '/save';
            var data = {
                moves: this.moves,
                comment: this.comment,
                date: this.effective_date,
                external_picking: this.external_picking,
                carrier_email: this.carrier_email,
                attachments: this.attachments
            };
            return this.$http.post(url, data).then(function(response) {
                this.saving = false;
            }, function(response) {
                this.saving = false;
                utils.error(response);
            });
        },
        receive: function() {
            this.save().then(function() {
                if (this.saving) {
                    return;
                }
                this.saving = true;
                var url = (
                    'flask_shipment_in_app/shipment/' + this.id + '/receive');
                var data = {}
                this.$http.post(url, data).then(function(response) {
                    this.saving = false;
                    location.reload();
                }, function(response) {
                    this.saving = false;
                    utils.error(response);
                });
            }.bind(this));
        },
        send_mail: function(){
            var save_url = 'flask_shipment_in_app/shipment/' + this.id + '/save';
            var save_data = {
                'carrier_email': this.carrier_email
            };
            var send_mail_url = 'flask_shipment_in_app/send_carrier_email';
            var send_mail_data = {'id': this.id};

            this.display_spinner = 'block';
            this.container_opacity = 0.4;
            this.$http.post(save_url, save_data)
            .then(function(result){
                return this.$http.post(send_mail_url, send_mail_data);
            })
            .then(function(result){
                this.email_ok = 'block';
                this.btn_mail_disabled = true;
                this.display_spinner = 'none';
                this.container_opacity = 1;
                var self = this;
                setTimeout(function(){
                    self.$router.push({name: 'home'});
                }, 4000)
            })
            .catch(function(error){
                this.email_ok = 'none';
                this.display_spinner = 'none';
                this.container_opacity = 1;
                utils.error(error)
            });
        },
        upload_file: function(e){
            e.preventDefault();
            if(!this.$refs.upload_file.value){return}

            var form_data = new FormData(this.$refs.form_data);
            form_data.append('id', this.id);
            var self = this;

            this.$http.post('flask_shipment_in_app/upload_file', form_data)
            .then(function(response){
                self.attachments.push(response.body);
                self.$refs.form_data.reset();
            })
            .catch(function(error){
                utils.error(error);
            });
        },
        remove_file: function(e){
            var target = e.target.closest('.input-group');
            var self = this;

            this.$http.post('flask_shipment_in_app/remove_file', {'id': target.id})
            .then(function(response){
                var index = self.attachments.indexOf(target.id);
                self.attachments.splice(index, 1);
            })
            .catch(function(error){
                utils.error(error);
            });
        },

    },
    created() {
        this.id = this.$route.params.id;
        var url = 'flask_shipment_in_app/shipment/' + this.$route.params.id;
        var vm = this;
        this.$http.get(url).then(function(request) {
            request.json().then(function(result){
                vm.number = result.number;
                vm.comment = result.comment;
                vm.effective_date = result.effective_date;
                vm.moves = result.moves;
                vm.external_picking = result.external_picking;
                vm.done = true ? result.state == 'done': false;
                vm.carrier_email = result.carrier_email;
                vm.attachments = result.attachments;
                vm.show_add_lines = result.moves.length > 0 ? false:true;
            });
        }, function(response) {
            utils.error(response);
        });
    },
};
</script>
